# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
# your code goes here
import pandas as pd
import numpy as np
df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df
df.columns=[i.lower() for i in df.columns]
df=df.drop(columns={"customer","unnamed: 0","location code","coverage","marital status","employmentstatus","vehicle class","vehicle size","renew offer type","vehicle type","policy"})
df=df.drop_duplicates()
df.reset_index(drop=True)

,state,customer lifetime value,response,education,effective to date,gender,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,sales channel,total claim amount
0,Arizona,4809.216960,No,College,2/18/11,M,48029,61,7.0,52,0.0,9,Corporate Auto,Agent,292.800000
1,California,2228.525238,No,College,1/18/11,F,0,64,3.0,26,0.0,1,Personal Auto,Call Center,744.924331
2,Washington,14947.917300,No,Bachelor,2/10/11,M,22139,100,34.0,31,0.0,2,Personal Auto,Call Center,480.000000
3,Oregon,22332.439460,Yes,College,1/11/11,M,49078,97,10.0,3,0.0,2,Corporate Auto,Branch,484.013411
4,Oregon,9025.067525,No,Bachelor,1/17/11,F,23675,117,NaN,31,NaN,7,Personal Auto,Branch,707.925645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9919,Nevada,15563.369440,No,Bachelor,1/19/11,F,0,253,NaN,40,NaN,7,Personal Auto,Web,1214.400000
9920,Oregon,5259.444853,No,College,1/6/11,F,61146,65,7.0,68,0.0,6,Personal Auto,Branch,273.018929
9921,Arizona,23893.304100,No,Bachelor,2/6/11,F,39837,201,11.0,63,0.0,2,Corporate Auto,Web,381.306996
9922,California,11971.977650,No,College,2/13/11,F,64195,158,0.0,27,4.0,6,Personal Auto,Branch,618.288849
9923,NaN,6857.519928,NaN,Bachelor,1/8/11,M,0,101,31.0,1,0.0,3,Personal Auto,Web,1021.719397

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9924 entries, 0 to 10909
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          9323 non-null   object
 1   customer lifetime value        9924 non-null   float64
 2   response                       9323 non-null   object
 3   education                      9924 non-null   object
 4   effective to date              9924 non-null   object
 5   gender                         9924 non-null   object
 6   income                         9924 non-null   int64
 7   monthly premium auto           9924 non-null   int64
 8   months since last claim        9323 non-null   float64
 9   months since policy inception  9924 non-null   int64
 10  number of open complaints      9323 non-null   float64
 11  number of policies             9924 non-null   int64
 12  policy type                    9924 non-null   object
 13  sales channel                  9924 non-null   object
 14  total claim amount             9924 non-null   float64
dtypes: float64(4), int64(4), object(7)
memory usage: 1.2+ MB

In [3]:
#1 Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.
new_df=df[(df["total claim amount"]>1000) & (df["response"]=="Yes")]
new_df

,state,customer lifetime value,response,education,effective to date,gender,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,sales channel,total claim amount
189,California,11009.130490,Yes,Bachelor,1/24/11,F,51643,283,16.0,43,0.0,1,Corporate Auto,Agent,1358.400000
236,Oregon,11009.130490,Yes,Bachelor,1/24/11,F,51643,283,16.0,43,0.0,1,Special Auto,Agent,1358.400000
419,Oregon,25807.063000,Yes,College,2/13/11,F,71210,214,8.0,89,1.0,2,Personal Auto,Branch,1027.200000
442,Arizona,13736.132500,Yes,Master,2/13/11,F,16181,181,22.0,79,0.0,8,Personal Auto,Web,1261.319869
587,California,5619.689084,Yes,High School or Below,1/26/11,M,0,153,25.0,5,0.0,1,Personal Auto,Web,1027.000029
654,California,25807.063000,Yes,College,2/13/11,F,71210,214,8.0,89,1.0,2,Personal Auto,Branch,1027.200000
680,Washington,25807.063000,Yes,College,2/13/11,F,71210,214,8.0,89,1.0,2,Personal Auto,Branch,1027.200000
815,California,10179.717040,Yes,Bachelor,1/5/11,F,14290,271,20.0,40,0.0,1,Personal Auto,Agent,1300.800000
1276,Arizona,25807.063000,Yes,College,2/13/11,F,71210,214,8.0,89,1.0,2,Corporate Auto,Branch,1027.200000
1390,California,5619.689084,Yes,High School or Below,1/26/11,M,0,153,NaN,5,NaN,1,Personal Auto,Web,1027.000029
1422,Oregon,8427.172486,Yes,Bachelor,2/10/11,F,46503,215,4.0,21,1.0,1,Personal Auto,Agent,1032.000000
1527,Oregon,8427.172486,Yes,Bachelor,2/10/11,F,46503,215,4.0,21,1.0,1,Corporate Auto,Agent,1032.000000
1570,Oregon,25807.063000,Yes,College,2/13/11,F,71210,214,8.0,89,1.0,2,Corporate Auto,Branch,1027.200000
1638,Oregon,5619.689084,Yes,High School or Below,1/26/11,M,0,153,25.0,5,0.0,1,Personal Auto,Web,1027.000029
1753,California,7840.165778,Yes,College,1/14/11,M,58414,210,7.0,24,2.0,1,Special Auto,Agent,1008.000000
1809,Oregon,7840.165778,Yes,College,1/14/11,M,58414,210,7.0,24,2.0,1,Personal Auto,Agent,1008.000000
1856,California,13736.132500,Yes,Master,2/13/11,F,16181,181,22.0,79,0.0,8,Personal Auto,Web,1261.319869
2027,Oregon,11009.130490,Yes,Bachelor,1/24/11,F,51643,283,16.0,43,0.0,1,Corporate Auto,Agent,1358.400000
2125,Oregon,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,33.0,91,0.0,1,Personal Auto,Agent,1324.800000
2340,California,3508.569533,Yes,College,1/5/11,M,20978,98,19.0,96,1.0,1,Personal Auto,Branch,1176.278800
2364,Oregon,5619.689084,Yes,High School or Below,1/26/11,M,0,153,25.0,5,0.0,1,Special Auto,Web,1027.000029
2865,California,11009.130490,Yes,Bachelor,1/24/11,F,51643,283,16.0,43,0.0,1,Personal Auto,Agent,1358.400000
3934,California,19160.989940,Yes,Master,2/20/11,F,22705,239,19.0,59,0.0,7,Personal Auto,Agent,1294.700423
3958,Arizona,8427.172486,Yes,Bachelor,2/10/11,F,46503,215,4.0,21,1.0,1,Personal Auto,Agent,1032.000000
4475,Arizona,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,33.0,91,0.0,1,Personal Auto,Agent,1324.800000
4521,Nevada,5619.689084,Yes,High School or Below,1/26/11,M,0,153,25.0,5,0.0,1,Personal Auto,Web,1027.000029
5013,California,7840.165778,Yes,College,1/14/11,M,58414,210,7.0,24,2.0,1,Personal Auto,Agent,1008.000000
5331,Nevada,7840.165778,Yes,College,1/14/11,M,58414,210,7.0,24,2.0,1,Personal Auto,Agent,1008.000000
5489,California,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,33.0,91,0.0,1,Corporate Auto,Agent,1324.800000
5577,Oregon,3508.569533,Yes,College,1/5/11,M,20978,98,19.0,96,1.0,1,Personal Auto,Branch,1176.278800
5896,Washington,11009.130490,Yes,Bachelor,1/24/11,F,51643,283,16.0,43,0.0,1,Personal Auto,Agent,1358.400000
5987,Oregon,13736.132500,Yes,Master,2/13/11,F,16181,181,22.0,79,0.0,8,Personal Auto,Web,1261.319869
6342,Washington,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,33.0,91,0.0,1,Personal Auto,Agent,1324.800000
7480,Arizona,10179.717040,Yes,Bachelor,1/5/11,F,14290,271,20.0,40,0.0,1,Personal Auto,Agent,1300.800000
7989,California,5619.689084,Yes,High School or Below,1/26/11,M,0,153,25.0,5,0.0,1,Corporate Auto,Web,1027.000029
8264,Arizona,8427.172486,Yes,Bachelor,2/10/11,F,46503,215,NaN,21,NaN,1,Personal Auto,Agent,1032.000000
8420,Oregon,7840.165778,Yes,College,1/14/11,M,58414,210,7.0,24,2.0,1,Corporate Auto,Agent,1008.000000
8425,Nevada,19160.989940,Yes,Master,2/20/11,F,22705,239,19.0,59,0.0,7,Personal Auto,Agent,1294.700423
8505,Oregon,10179.717040,Yes,Bachelor,1/5/11,F,14290,271,20.0,40,0.0,1,Personal Auto,Agent,1300.800000
8510,California,8427.172486,Yes,Bachelor,2/10/11,F,46503,215,4.0,21,1.0,1,Personal Auto,Agent,1032.000000
8662,Washington,19160.989940,Yes,Master,2/20/11,F,22705,239,19.0,59,0.0,7,Personal Auto,Agent,1294.700423
8835,California,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,33.0,91,0.0,1,Personal Auto,Agent,1324.800000
9329,Arizona,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,NaN,91,NaN,1,Personal Auto,Agent,1324.800000
9498,Oregon,19160.989940,Yes,Master,2/20/11,F,22705,239,19.0,59,0.0,7,Personal Auto,Agent,1294.700423
10373,Oregon,10963.957230,Yes,High School or Below,2/8/11,M,55687,276,33.0,91,0.0,1,Corporate Auto,Agent,1324.800000

In [4]:
#2 Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign
df2=df[df["response"]=="Yes"]
df2=df2.groupby(["policy type","gender"])[["total claim amount"]].mean()
df2
size().reset_index(name="count of customers")

                       total claim amount
policy type    gender
Corporate Auto F               436.055147
               M               417.908515
Personal Auto  F               446.119266
               M               453.808632
Special Auto   F               448.957825
               M               409.519291

In [18]:
#3 Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.
df3=df.groupby("state").size().reset_index(name="count of customers")
df3=df3[(df3["count of customers"]>500)]
df3

        state  count of customers
0     Arizona                1760
1  California                3182
2      Nevada                 914
3      Oregon                2626
4  Washington                 841

In [19]:
#4 Find the median customer lifetime value by education level and gender.
df4=round(df.groupby(["education","gender"])[["customer lifetime value"]].median(),2)
df4

                             customer lifetime value
education            gender
Bachelor             F                       5668.66
                     M                       5548.03
College              F                       5659.14
                     M                       6005.85
Doctor               F                       5366.78
                     M                       5585.31
High School or Below F                       6153.39
                     M                       6237.51
Master               F                       5808.93
                     M                       5538.22

In [20]:
#5 Find the maximum, minimum, and average number of open complaints by state and policy type
df5=round(df.groupby(["state","policy type"]).agg({"number of open complaints":["max","min","mean",]}),2)
df5

                          number of open complaints
                                                max  min  mean
state      policy type
Arizona    Corporate Auto                       5.0  0.0  0.38
           Personal Auto                        5.0  0.0  0.39
           Special Auto                         3.0  0.0  0.26
California Corporate Auto                       4.0  0.0  0.32
           Personal Auto                        5.0  0.0  0.40
           Special Auto                         5.0  0.0  0.46
Nevada     Corporate Auto                       5.0  0.0  0.46
           Personal Auto                        5.0  0.0  0.41
           Special Auto                         5.0  0.0  0.60
Oregon     Corporate Auto                       4.0  0.0  0.33
           Personal Auto                        5.0  0.0  0.38
           Special Auto                         5.0  0.0  0.35
Washington Corporate Auto                       5.0  0.0  0.49
           Personal Auto                        5.0  0.0  0.38
           Special Auto                         4.0  0.0  0.53

In [21]:
#6 The marketing team wants to analyze the number of policies sold by state and month
#Present the data in a table where the months are arranged as columns and the states are arranged as rows.
df["month"]=df["effective to date"].str.slice(0,1)
df
df6=df.groupby(["state","month"])[["number of policies"]].count()
df6
table=pd.pivot_table(df6,values="number of policies",index="state",columns="month",aggfunc="sum",fill_value=0)
print("Pivot Table: Policies Sold by State and Month")
table

Pivot Table: Policies Sold by State and Month

month          1     2
state
Arizona      917   843
California  1697  1485
Nevada       507   407
Oregon      1409  1217
Washington   435   406

In [ ]:
# Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.
# to accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.
# Next, you will select the top 3 states with the highest number of policies sold.
# Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.

In [35]:
df7=df.df6=df.groupby(["state","month"])[["number of policies"]].count()
sorted_df7=df7.sort_values("number of policies",ascending=False)
sorted_df7
new_df7=sorted_df7.head(6)
new_df7

                  number of policies
state      month
California 1                    1697
           2                    1485
Oregon     1                    1409
           2                    1217
Arizona    1                     917
           2                     843